{% extends '::layout.html.twig' %}

{% block content -%}
    <section>
        <h1>Series list</h1>

        {% for serie in series %}
            <article>
                <header>
                    <figure>
                        <img src="{{ serie.picture }}" alt="picture" title="{{ serie.name }}">
                        <figcaption>

                        </figcaption>
                    </figure>
                </header>
            </article>
        {% endfor %}
    </section>

    {#<table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Releasedat</th>
                <th>Summary</th>
                <th>Picture</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('series_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.releasedAt %}{{ entity.releasedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.country }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('series_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('series_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('series_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
{% endblock %}
